.App {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 24%;
  max-height: 20vw;
  background-color: rgb(59, 59, 255);
  border-radius: 0.5vw;
  color: white;
}
